body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: 'Julius Sans One', sans-serif;
    background-image: url('https://d.newsweek.com/en/full/1956691/winter-forest-landscape-snow-covered-trees.jpg');
    background-color: rgba(27, 27, 27, 0.486);
    background-blend-mode: overlay
}


.card{
    background-color: rgba(29, 32, 54, 0.562);
    padding: 3em;
    border-radius: 40px;
    width: 100%;
    max-width: 600px;
    margin-left: -52%;
}

.high-temp{
    font-size: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    height:60px;
    width: 100%;
    border-radius: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    color:#000000;
    font-size: 30px;
    text-align: center;
}

button{
    margin:0;
    border-radius: 50px;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 35px;
    outline: none;
    background-color: rgba(29, 32, 54, 0.432);
    cursor: pointer;
}

button:hover{
    margin:0;
    border-radius: 50px;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 35px;
    outline: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.weather {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    color:white
}

.city{
    font-family: 'Julius Sans One', sans-serif;
}

h1{
    margin-top: -40%;
    margin-right: 24%;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 8px #000000;
    font-size: 70px;
    color:white;
    word-spacing: 10px;

}